parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between int\<min, \-1\>\|int\<1, max\> and 0 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Console/Commands/AnalyzeFiles.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Console/Commands/FastDlExtractPk3s.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/FastDlExtractPk3s.php

		-
			message: '#^Parameter \#2 \$baseDir of method App\\Console\\Commands\\FastDlExtractPk3s\:\:extractPk3FromZip\(\) expects App\\Models\\FastDl\\FastDlDirectory, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/FastDlExtractPk3s.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Console/Commands/FastDlSyncMaps.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Console/Commands/ImportAll.php

		-
			message: '#^Property App\\Console\\Commands\\ImportAll\:\:\$gameMap is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Console/Commands/ImportAll.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/ImportFiles.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Filament/Pages/CreditsSettings.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Filament/Pages/SocialLinksSettings.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$path\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/DemoResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/FastDlClanResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Filament/Resources/FastDlFileResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$base_directory\.$#'
			identifier: property.notFound
			count: 2
			path: app/Filament/Resources/FastDlGameResource/Pages/CreateFastDlGame.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:directories\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/FastDlGameResource/Pages/CreateFastDlGame.php

		-
			message: '#^Cannot access property \$id on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Filament/Resources/FileResource/Pages/EditFile.php

		-
			message: '#^Cannot call method screenshots\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 3
			path: app/Filament/Resources/FileResource/Pages/EditFile.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Filament/Resources/MenuResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_published\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Resources/PostResource/Pages/CreatePost.php

		-
			message: '#^Cannot access property \$is_published on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Filament/Resources/PostResource/Pages/EditPost.php

		-
			message: '#^Cannot access property \$status on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Filament/Resources/TrackerClaimResource/Pages/ViewTrackerClaim.php

		-
			message: '#^Cannot call method approve\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Filament/Resources/TrackerClaimResource/Pages/ViewTrackerClaim.php

		-
			message: '#^Cannot call method reject\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Filament/Resources/TrackerClaimResource/Pages/ViewTrackerClaim.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Filament/Resources/TutorialResource.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: app/Http/Controllers/Api/FileApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/FastDlController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FastDlController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FastDlController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:directories\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/FastDlController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:files\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/FastDlController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Frontend/ClanFastDlController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\ServerInvoice\>\|Illuminate\\Database\\Eloquent\\Model\:\:\$amount\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Frontend/HostingController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\ServerInvoice\>\|Illuminate\\Database\\Eloquent\\Model\:\:\$period_end\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Frontend/HostingController.php

		-
			message: '#^Offset string on string\|null on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: app/Http/Controllers/Frontend/PageController.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: app/Http/Controllers/Frontend/ProfileController.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Http/Controllers/Frontend/StatisticsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name_html\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Frontend/TrackerController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$short_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Frontend/TrackerController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Tracker\\TrackerServer\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Frontend/TrackerController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Frontend/TrackerController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\{player_name\: mixed, player_url\: string\|null, score\: int\|null, duration\: lowercase\-string&non\-falsy\-string\}, Closure\(App\\Models\\Tracker\\TrackerPlayerSession\)\: array\{player_name\: mixed, player_url\: string\|null, score\: int\|null, duration\: lowercase\-string&non\-falsy\-string\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Frontend/TrackerController.php

		-
			message: '#^Method App\\Http\\Middleware\\TrackUserActivity\:\:parseDevice\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Http/Middleware/TrackUserActivity.php

		-
			message: '#^Offset string on string\|null on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Donation.php

		-
			message: '#^Match arm comparison between ''error'' and ''error'' is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: app/Models/EttvSlot.php

		-
			message: '#^Match arm comparison between ''cancelled'' and ''cancelled'' is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: app/Models/Event.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/FastDl/FastDlDirectory.php

		-
			message: '#^Offset string on string\|null on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: app/Models/Page.php

		-
			message: '#^Match arm comparison between ''rtcw'' and ''rtcw'' is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: app/Models/ServerOrder.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$clan\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Tracker/TrackerPlayer.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Notifications/NewComment.php

		-
			message: '#^Access to an undefined property App\\Models\\File\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\File\>\:\:\$period_downloads\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/StatisticsService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$path\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/TelegramBotService.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/TelegramBotService.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: app/Services/TelegramBotService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$file_path\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/Tracker/LevelshotService.php

		-
			message: '#^Variable \$tmpFile in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: app/Services/Tracker/LevelshotService.php

		-
			message: '#^Variable \$tmpJpg in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: app/Services/Tracker/LevelshotService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$address\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Tracker/MasterServerService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$full_address\.$#'
			identifier: property.notFound
			count: 3
			path: app/Services/Tracker/MasterServerService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$port\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Tracker/MasterServerService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$map\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Tracker/ServerPollerService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$peak_players\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Tracker/ServerPollerService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$protocol_version\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Tracker/ServerPollerService.php

		-
			message: '#^Offset 1 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: app/Services/Tracker/ServerQueryService.php
